<div ng-controller="ShowMessageController" ng-init="init()" >
  <div class="page-header">
    <h1>{{message.title}}</h1>
  </div>

  <p>
    {{message.content}}
  </p>

  <h3>
    <ng-pluralize count="message.Replies.length"
      when="{'0': 'Viestiin ei ole vastattu.',
          'one': '1 vastaus.',
          'other': '{{message.Replies.length}} vastausta.'}">
    </ng-pluralize>
  </h3>
  
  <ul class="media-list">
    <li class="media" ng-repeat="reply in message.Replies">
      <div class="media-body">
        <h4 class="media-heading">{{reply.User.username}}</h4>

        <p>
          {{reply.content}}
        </p>

        <p class="text-muted">
          {{ reply.createdAt | date : "dd.MM.y hh.mm" }}
        </p>
      </div>
    </li>
  </ul>

  <div ng-show="!userLoggedIn">
    <h3>Kirjaudu sisään lisätäksesi viestejä</h2>
    <ng-include src="'/app/views/users/buttons.html'"></ng-include>
  </div>

  <div ng-show="userLoggedIn">
    <h3>Lisää oma vastauksesi</h3>

    <form name="form" ng-submit="onSubmit(form)" novalidate>
      <div class="form-group">
        <label>Vastaus</label>
        <textarea class="form-control" name="content" ng-model="reply.content" required></textarea>
        <div ng-show="form.$submitted && form.content.$error.required" class="help-block">Vastaus ei voi olla tyhjä</div>
      </div>
      <button class="btn btn-success" ng-click="addReply(form)">Lisää vastaus</button>
    </form>
  </div>
</div>